/* Reset and fullscreen */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Courier New', monospace;
}

#container {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}

#vignette {
  pointer-events: none;
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 40%, rgba(0,0,0,0.7) 100%);
  mix-blend-mode: multiply;
  z-index: 1000;
}
